body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f3e5f5, #e1bee7);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

h1, h2, h3 {
    color: #6a1b9a;
}

button {
    background-color: #ab47bc;
    color: white;
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8e24aa;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px  ;
    text-align: left;
}

th {
    background-color: #f3e5f5;
    color: #6a1b9a;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #6a1b9a;
    font-weight: bold;
    font-size: 16px;
}

.status-present {
    color: green;
    font-weight: bold;
}

.status-absent {
    color: black;
    font-weight: normal;
}

.student-button {
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.back-home-button {
    padding: 10px 20px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.edit-button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.edit-button:hover {
    background-color: #0277bd;
}

.delete-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c62828;
}